:root{
   --background-color1: #7da2d6;
   --background-color2: #466085;
   --font-color1: #FCC456;
   --font-color2: lightgrey;
   --background-card: #1C2128;
}

/*----Body----*/

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom left,var(--background-color1), var(--background-color2));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }

/*----Tabela----*/

.carrinho-container{
    background-color: var(--background-card);
    color: var(--font-color1);
    border-radius: 7px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h1{
    color: var(--font-color1);
}

button{
   background-color:var(--background-card);
   color: var(--font-color1);
   border: none;
   cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}



table{
    width:100%;
    border-collapse: collapse; 
    background-color: var(--background-card);
    border-radius: 10px;  
}

table th{
    border:1px solid #404040;
    background-color: #404040; 
    border-collapse: collapse;     
}

table td{
    border: 1px solid #404040;
    padding: 10px;
    background-color: var(--background-card);
    color: var(--font-color2);
    border-collapse: collapse;
}

table tfoot td:first-child{
    text-align: right;
    color: var(--font-color1);
}

.total-itens{
    text-align: center;
    color: var(--font-color1);
    font-size: larger;
}

.total-valor{
    text-align: center;
    color: var(--font-color1);
    font-size: larger;
}